

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Age</th>
            <th scope="col">Country</th>
            <th scope="col">PhoneNumber</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>@ViewData["Name"]</td>
            <td>@ViewData["Surname"]</td>
            <td>@ViewData["Age"]</td>
            <td>@ViewData["Country"]</td>
            <td>@ViewData["PhoneNumber"]</td>
        </tr>
    </tbody>
</table>


